@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100..900&display=swap");
:root {
  --nav-menu-color: rgb(135, 135, 135);
  --app-primary-color: #e33558;
}
@media screen and (min-width: 501px) {
  :root {
    --aside-width: 200px;
    --nav-menu-font-size: 20px;
    --nav-menu-font-empha-size: 24px;
    --aside-padding: 0px 15px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --aside-width: 100px;
    --nav-menu-font-size: 12px;
    --nav-menu-font-empha-size: 16px;
    --aside-padding: 0px 8px;
  }
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}
.background-wave-wrapper {
  background-color: #939393;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: var(--aside-width) calc(100% - var(--aside-width));
}

aside {
  align-content: center;
  height: 100vh;
  padding: var(--aside-padding);
}
aside > nav {
}
nav > .nav-menu {
  font-size: var(--nav-menu-font-size);
  font-weight: bold;
  color: var(--nav-menu-color);
  cursor: pointer;
  text-indent: 10px;
}

@keyframes de-emphasize-nav-menu {
  from {
    font-size: var(--nav-menu-font-empha-size);
    /* scale: 1.2; */
    padding: 10px 0px;
    color: rgb(201, 201, 201);
  }
  to {
    /* scale: 1; */
    font-size: var(--nav-menu-font-size);
    color: var(--nav-menu-color);
  }
}

@keyframes emphasize-nav-menu {
  from {
    font-size: var(--nav-menu-font-size);
    /* scale: 1; */
    color: var(--nav-menu-color);
  }
  to {
    font-size: var(--nav-menu-font-empha-size);
    padding: 10px 0px;
    /* scale: 1.2; */
    color: rgb(201, 201, 201);
  }
}

nav > .nav-menu.current-path {
  font-size: var(--nav-menu-font-empha-size);
  padding: 5px 0px;
  color: var(--app-primary-color) !important;
  text-indent: 10px;
  /* background-color: black; */
  /* backdrop-filter: sepia(50%); */
  backdrop-filter: blur(5px) !important;
  width: fit-content;
  padding-right: 10px !important;
  margin: 5px 0px !important;
  /* background-color: gray; */
}

nav > .nav-menu.mouse-out {
  animation-name: de-emphasize-nav-menu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

nav > .nav-menu.mouse-hover {
  animation-name: emphasize-nav-menu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes blurFadeIn {
  from {
    opacity: 0;
  }
  to {
    /* backdrop-filter: contrast(45%); */
    backdrop-filter: blur(15px);
    opacity: 1;
  }
}
.page-wrapper {
  padding: 20px;
}
.page-wrapper.with-blur {
  /* backdrop-filter: invert(20%); */
  animation-name: blurFadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 500px) {
  .page-wrapper {
    padding: 15px;
  }
}

h2.page-title {
  color: var(--app-primary-color);
  margin: 0px;
  margin-bottom: 15px;
}

.mento-seed-form-wrapper {
}
.mento-seed-form-wrapper > .mento-seed-question-input {
}
.mento-seed-form-wrapper > .mento-seed-answer-textarea {
}

.toast-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  min-height: 60px;
  background-color: white;
}

.wave-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: #f8f8f8; /* 은색 배경과 어울리는 밝은 배경 */
}

.wave-background svg {
  width: 200%;
  height: 100%;
  animation: waveMove 10s linear infinite;
  opacity: 0.6;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
